.canvas {
  padding: 0px var(--horizontal-space);
  background-color: #fafafa;
}

.canvas__box {
  display: flex;
  justify-content: center;
}

.divider {
  height: 50px;
  display: block;
  background-color: #ffffff;
}

.DM-8 {
  max-width: 1600px;
}

.DM-8 img {
  filter: brightness(0.5);
  width: 100%;
}

.DM-8 img:hover {
  filter: brightness(1);
  transition: 0.5s;
}

.product-info {
  max-width: 650px;
  background-color: #F5F5F5;
}

.product-description,
.product-info img {
  width: 100%;
}

.product-description {
  padding: 70px;
}

.product-description h4 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 30px;
}

.product-info__name {
  font-size: 17.5px;
  opacity: .4;
}

.product-info__description {
  font-size: 18px;
  opacity: .8;
  margin-top: 55px;
  margin-bottom: 35px;
}

.product-info__link {
  opacity: .8;
  text-decoration: none;
  
}

.product-info__link i {
  margin-right: 8px;
}

.product-link-box {
  padding: 10px 0px;
}

.product-link-box:hover {
  background-color: black;
  .product-info__link,
  .product-info__link i {
    color: #ffffff;
  }
}